//====================================================================================================

//====================================================================================================
.page__container {
    margin-top: 150px;
    background: rgba(255, 99, 71, 0.678);
    width: 500px;
    height: 500px;
    display: flex; align-items: center; justify-content: center;
    
}
